watch_file ./modules/flake/devShells.nix
watch_file ./modules/hjem/*/manual/mnw/default.nix
watch_file ./modules/hjem/*/manual/mnw/opt.json
watch_file ./modules/hjem/*/manual/mnw/start.json
use flake
