@use "assets/variables" as *;

* {
  font-family: Inter Semibold;
}

window {
  // background-color: $base;
  margin-top: 3px;
  background-color: transparent;
  border-radius: 16px;
}

.left {
  background-color: $surface0;
  border-radius: 16px;
}

.time__label {
  padding: 0 16px;
  background-color: $surface1;
  border-radius: 16px;
  min-width: 180px;
}

.ws__box {
  padding: 0 16px;
  background-color: $surface0;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

.ws__btn {
  // margin: 0 4px;
  font-weight: 900;
  font-size: 1.2em;
  border: none;
  background: transparent;
  border-radius: 10%;
  min-width: 20px;
  // min-height: 20px;
}

.ws__btn--active {
  color: $sky;
}

.center {
}

.window__title {
  background: $crust;
  border-radius: 16px;
  padding: 0 16px;
}

.window__empty {
  padding: 0;
  background: transparent;
}

.right {
  background-color: $surface0;
}

.language__label {
  min-width: 150px;
  border-radius: 16px;
  background-color: $surface1;
}
